$primary: white;
// $accent: #DAE8FC;
$accent: #074B87;
$accent-light: #DAE8FC;
$secondary: #F8CECC;
$font-color: black;
$background-color: white;
$danger: rgb(212, 1, 1);
$danger-light: rgb(255, 59, 59);