@import url('https://fonts.googleapis.com/css2?family=Turret+Road&display=swap');

*, *::before, *::after {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  font-family: 'Turret Road';
}

body {
  font-family: 'Turret Road';
}
button {
  cursor: pointer;
}